.movies-card-list{
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-column-gap: 20px;
  grid-row-gap: 32px;
  margin: auto ;
  padding: 80px 0;
  max-width: 1140px;
  border-top: 1px solid #AAAAAA;
}