.movies{
  background-color: #202020;
  padding-bottom: 80px;
}

.movies__button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto -10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  background-color: #202020;
  border: 1px solid #424242;
  width: 320px;
  height: 36px;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .movies__button{
    margin: 0 auto -10px;
  }
}

@media screen and (max-width: 320px) {
  .movies__button{
    width: 240px;
  }
}