.portfolio{
  background-color: #202020;
  padding: 0 70px;
}

.portfolio__content{
  max-width: 1140px;
  margin: 0 auto;
}

.portfolio__title{
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
  margin: 0;
  padding-bottom: 30px;
}

.portfolio__list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.portfolio__item{
  border-bottom: 1px solid #424242;
}

.portfolio__link{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center
}

.portfolio__text{
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 19px;
}

.portfolio__image{
  width: 29px;
  height: 60px;
  object-fit: none;
  margin-top: 5px;
}

.portfolio__item:last-child{
  padding-bottom: 106px;
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  .portfolio{
    padding: 0 50px;
  }

  .portfolio__item{
    border-bottom: 1px solid #E6E6E6;
  }

  .portfolio__text{
    font-size: 28px;
    line-height: 50px;
  }

  .portfolio__item:last-child{
    padding-bottom: 71px;
  }
}

@media screen and (max-width: 320px) {
  .portfolio{
    padding: 0 14px;
  }

  .portfolio__title{
    font-size: 14px;
    padding-bottom: 20px;
  }

  .portfolio__text{
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__image{
    width: 10px;
    height: 11px;
    margin-top: 0;
    margin-bottom: 3px;
    margin-right: 5px;
    object-fit: unset;
  }
  
  .portfolio__item:last-child{
    padding-bottom: 51px;
  }
}