.header{
 
}

.header__container{
  padding: 0 70px;
}

.header__container_blue{
  background-color: #073042;
}

.header__container_black{
  background-color: #202020;
}

.header__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
}

.header__content_blue{

}

.header__logo-link{
  width: 38px;
  height: 38px;
  margin: 18px 0;
}

.header__navigation{
  display: flex;
  align-items: center;
}

.header__navigation_black{
  width: 212px;
  padding-left: 64px;
}

.navigation-link{
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.navigation-link_green{
  color: #000000;
  margin: auto;
}

.navigation-link_account{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

.navigation-link__container_green{
  width: 76px;
  height: 32px;
  background: #3DDC84;
  border-radius: 3px;
  margin-left: 30px;
  display: flex;
}

.navigation-link__movies{
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}

.navigation-link__movies:last-child{
  margin-left: 16px;
}

.header__logo_account{
  margin: auto;
}

.header__logo-link_account{
  display: flex;
  width: 26px;
  height: 30px;
  background-color: #313131;
  border-radius: 4px;
  margin-left: 17px;
}

.header__container_account{
  display: flex;
  align-items: center
}

@media screen and (max-width: 768px) {
  .header__container{
    padding: 0 30px;
  }
}

@media screen and (max-width: 320px) {
  .header__container{
    padding: 0 14px;
  }

  .navigation-link{
    font-size: 10px;
  }

  .navigation-link__container_green{
    width: 54px;
    height: 26px;
    border-radius: 3px;
    margin-left: 14px;
  }
}