.aboutproject{
  background-color: #202020;
  padding: 0 70px;
}

.aboutproject__title{
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  margin: 0;
  padding: 110px 0 23px;
}

.aboutproject__container{
  border-top: 1px solid #DADADA;
  display: flex;
}

.aboutproject__table{
  max-width: 550px;
}

.aboutproject__table:last-of-type{
  margin-left: 40px;
}

.aboutproject__subtitle{
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  margin: 70px 0 26px;
}

.aboutproject__text{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0 0 110px 0;
}

.aboutproject__graphic{
  display: flex;
  padding-bottom: 110px;
}

.aboutproject__graphic-subtitle{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.aboutproject__graphic-text{
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8B8B8B;
  text-align: center;
  margin: 0;
  padding-top: 14px;
}

.aboutproject__graphic-subtitle_backend{
  color: #000000;
  background-color: #3DDC84;
}

.aboutproject__graphic-subtitle_frontend{
  background-color: #303030;
}

.aboutproject__graphic-backend{
  width: calc(100%/4);
}

.aboutproject__graphic-frontend{
  width: calc(100%);
}

@media screen and (max-width: 768px){
  .aboutproject{
    padding: 0 50px;
  }

  .aboutproject__table{
    max-width: 319px;
  }

  .aboutproject__title{
    padding: 90px 0 23px;
  }
  
  .aboutproject__text{
    margin: 0 0 93px 0;
    font-size: 12px;
    line-height: 18px;
  }

  .aboutproject__subtitle{
    margin: 70px 0 22px;
  }

  .aboutproject__graphic-text{
    font-weight: 400;
  }

  .aboutproject__graphic{
    padding-bottom: 90px;
  }
  
  .aboutproject__table:last-of-type{
    margin-left: 30px;
  }
  
  .aboutproject__graphic-backend{
    width: calc(100%/3.77);
  }
}

@media screen and (max-width: 320px){
  .aboutproject{
    padding: 0 18px;
  }

  .aboutproject__title{
    font-size: 18px;
    line-height: 22px;
    padding: 70px 0 28px;
  }
  
  .aboutproject__container{
    display: block;
  }

  .aboutproject__subtitle{
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 16px;
  }

  .aboutproject__text{
    margin: 0;
    font-size: 11px;
    line-height: 16px;
  }

  .aboutproject__table{
    margin-top: 60px;
  }

  .aboutproject__table:last-of-type{
    margin: 56px 0 60px;
  }

  .aboutproject__graphic-subtitle{
    font-size: 11px;
    line-height: 13px;
    height: 35px;
  }

  .aboutproject__graphic-text{
    font-size: 11px;
    line-height: 13px;
    padding-top: 10px;
  }

  .aboutproject__graphic{
    padding-bottom: 70px;
  }

  .aboutproject__graphic-backend{
    width: calc(100%/1.87);
  }
}