.nav-tab{
  background-color: #272727;
}

.nav-tab__list{
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  height: 66px;
}

.nav-tab__item{
  margin: 24px 40px 24px 0;
}

.nav-tab__link{
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  text-decoration: none;
  height: 18px;
}

.nav-tab__item:last-of-type{
  margin: 24px 0;
}

@media screen and (max-width: 336px) {
  .nav-tab__item{
    margin: 22px 24px 22px 0;
    height: 16px;
  }

  .nav-tab__item:last-of-type{
    margin: 22px 0;
  }

  .nav-tab__link{
    font-size: 11px;
    line-height: 16px;
    
  }
}